<?xml version="1.0" encoding="utf-8"?><!-- suppress AndroidDomInspection -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.nearbyshops.enduserapp"
    android:installLocation="auto">

    <!-- To auto-complete the email text field in the loginActivity form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="org.nearbyshops.enduserapp.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/blue_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- android:icon="@mipmap/ic_launcher" -->

        <service
            android:name="org.nearbyshops.enduserapp.UtilityGeocoding.FetchAddressIntentService"
            android:exported="false" />

        <activity
            android:name="org.nearbyshops.enduserapp.Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.nearbyshops.enduserapp.GeolocationTest" />

        <!-- <activity -->
        <!-- android:name=".ItemCategoryOption.FragmentItemCategories" -->
        <!-- android:label="Item Categories" -->
        <!-- android:parentActivityName=".Home" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.PARENT_ACTIVITY" -->
        <!-- android:value="org.nearbyshops.enduser.Home" /> -->
        <!-- </activity> -->

        <activity
            android:name="org.nearbyshops.enduserapp.LoginActivity"
            android:label="Nearby Shops : Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="org.nearbyshops.enduserapp.ItemCategoryOption.ShopItemSwipeView"
            android:label="Shops and Items"
            android:parentActivityName="org.nearbyshops.enduserapp.Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserapp.Home" />
        </activity>
        <activity
            android:name="org.nearbyshops.enduserapp.ShopItemByItem.ShopsForItemSwipe"
            android:label="@string/title_activity_shops_for_item"
            android:parentActivityName="org.nearbyshops.enduserapp.ItemCategoryOption.ShopItemSwipeView"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserapp.ItemCategoryOption.ShopItemSwipeView" />
        </activity>
        <activity
            android:name="org.nearbyshops.enduserapp.Carts.CartsList.CartsListActivity"
            android:label="@string/title_activity_carts_list"
            android:parentActivityName="org.nearbyshops.enduserapp.Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserapp.Home" />
        </activity>
        <activity
            android:name="org.nearbyshops.enduserapp.Carts.CartItem.CartItemListActivity"
            android:label="@string/title_activity_cart_item_list"
            android:parentActivityName="org.nearbyshops.enduserapp.Carts.CartsList.CartsListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserapp.Carts.CartsList.CartsListActivity" />
        </activity>
        <activity
            android:name="org.nearbyshops.enduserapp.Carts.PlaceOrderActivity"
            android:label="@string/title_activity_place_order"
            android:parentActivityName="org.nearbyshops.enduserapp.Carts.CartItem.CartItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserapp.Carts.CartItem.CartItemListActivity" />
        </activity>
        <activity
            android:name="org.nearbyshops.enduserapp.DeliveryAddress.DeliveryAddressActivity"
            android:label="@string/title_activity_delivery_address"
            android:parentActivityName="org.nearbyshops.enduserapp.Carts.PlaceOrderActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserapp.Carts.PlaceOrderActivity" />
        </activity>
        <activity
            android:name="org.nearbyshops.enduserapp.DeliveryAddress.Previous.EditAddressActivity"
            android:label="@string/title_activity_edit_address"
            android:parentActivityName="org.nearbyshops.enduserapp.DeliveryAddress.DeliveryAddressActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserapp.DeliveryAddress.DeliveryAddressActivity" />
        </activity>
        <activity
            android:name="org.nearbyshops.enduserapp.DeliveryAddress.Previous.AddAddressActivity"
            android:label="@string/title_activity_add_address"
            android:parentActivityName="org.nearbyshops.enduserapp.DeliveryAddress.DeliveryAddressActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserapp.DeliveryAddress.DeliveryAddressActivity" />
        </activity>
        <activity
            android:name="org.nearbyshops.enduserapp.aaSamples.NavigationDrawerSample"
            android:label="@string/title_activity_navigation_drawer_sample"
            android:parentActivityName="org.nearbyshops.enduserapp.Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserapp.Home" />
        </activity>
        <activity
            android:name="org.nearbyshops.enduserapp.OrdersHomeDelivery.OrderHome"
            android:label="@string/title_activity_order_home"
            android:parentActivityName="org.nearbyshops.enduserapp.Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserapp.Home" />
        </activity>
        <activity
            android:name="org.nearbyshops.enduserapp.ShopsByCategoryOld.ShopsByCategory"
            android:label="@string/label_shops_by_category"
            android:parentActivityName="org.nearbyshops.enduserapp.Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserapp.Home" />
        </activity>
        <activity
            android:name="org.nearbyshops.enduserapp.ItemsByCategorySwipe.ItemsByCategory"
            android:label="@string/label_items_by_category"
            android:parentActivityName="org.nearbyshops.enduserapp.Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserapp.Home" />
        </activity>
        <activity
            android:name="org.nearbyshops.enduserapp.ShopDetail.ShopDetail"
            android:label="@string/label_items_by_category"
            android:parentActivityName="org.nearbyshops.enduserapp.Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserapp.Home" />
        </activity>
        <activity
            android:name="org.nearbyshops.enduserapp.ItemDetail.ItemDetail"
            android:label="Item Detail"
            android:parentActivityName="org.nearbyshops.enduserapp.Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserapp.Home" />
        </activity>
        <activity
            android:name="org.nearbyshops.enduserapp.ShopReview.ShopReviews"
            android:label="Shop Reviews"
            android:parentActivityName="org.nearbyshops.enduserapp.Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserapp.Home" />
        </activity>
        <activity
            android:name="org.nearbyshops.enduserapp.ShopHome.ShopHome"
            android:label="@string/title_activity_shop_home"
            android:parentActivityName="org.nearbyshops.enduserapp.Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserapp.Home" />
        </activity>
        <activity
            android:name="org.nearbyshops.enduserapp.ShopItemByShopOld.ShopItemsInShopByCat"
            android:label="@string/title_activity_shop_home"
            android:parentActivityName="org.nearbyshops.enduserapp.Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserapp.Home" />
        </activity>
        <activity
            android:name="org.nearbyshops.enduserapp.Carts.OrderResultActivity"
            android:label="@string/title_activity_order_result"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="org.nearbyshops.enduserapp.DeliveryAddress.PickLocationActivity"
            android:label="Pick Location"
            android:parentActivityName="org.nearbyshops.enduserapp.Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserapp.Home" />
        </activity>

        <!-- Google Maps Key -->


        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB_BpmVLbrXdFzz1JyaYl21F2EDoU1EreM" />

        <activity
            android:name="org.nearbyshops.enduserapp.Shops.ShopsActivity"
            android:label="@string/title_activity_shops"
            android:launchMode="singleTop"
            android:parentActivityName="org.nearbyshops.enduserapp.Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserapp.Home" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.nearbyshops.enduserapp.Items.ItemsActivity"
            android:label="@string/title_activity_items"
            android:launchMode="singleTop"
            android:parentActivityName="org.nearbyshops.enduserapp.Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserapp.Home" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.nearbyshops.enduserapp.ItemsInShop.ItemsInShop"
            android:label="@string/title_activity_items_in_shop"
            android:parentActivityName="org.nearbyshops.enduserapp.Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserapp.Home" />
        </activity>
        <activity
            android:name="org.nearbyshops.enduserapp.ItemsByCategoryHorizontal.ItemsByCatS2"
            android:label="@string/title_activity_items_by_cat_s2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="org.nearbyshops.enduserapp.ItemsByCategoryTypeSimple.ItemCategoriesSimple"
            android:label="@string/title_activity_item_categories_simple"
            android:parentActivityName="org.nearbyshops.enduserapp.Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserapp.Home" />
        </activity>
        <activity
            android:name="org.nearbyshops.enduserapp.ItemsInShopByCat.ItemsInShopByCat"
            android:label="Items In Shop"
            android:launchMode="singleTop"
            android:parentActivityName="org.nearbyshops.enduserapp.ShopHome.ShopHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserapp.ShopHome.ShopHome" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.nearbyshops.enduserapp.FilterShops.FilterShops"
            android:label="@string/title_activity_item_categories_simple"
            android:parentActivityName="org.nearbyshops.enduserapp.Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserapp.Home" />
        </activity>
        <activity
            android:name="org.nearbyshops.enduserapp.ShopsByCatSimple.ShopsByCat"
            android:label="Shops By Category"
            android:launchMode="singleTop"
            android:parentActivityName="org.nearbyshops.enduserapp.Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserapp.Home" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.nearbyshops.enduserapp.OrderHistoryHD.OrderHistoryHD.OrderHistoryHD"
            android:label="Order History"
            android:launchMode="singleTop"
            android:parentActivityName="org.nearbyshops.enduserapp.OrdersHomeDelivery.OrderHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserapp.OrdersHomeDelivery.OrderHome" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.nearbyshops.enduserapp.OrderDetail.OrderDetail"
            android:label="Order Details"
            android:parentActivityName="org.nearbyshops.enduserapp.OrdersHomeDelivery.OrderHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserapp.OrdersHomeDelivery.OrderHome" />
        </activity>
        <activity
            android:name="org.nearbyshops.enduserapp.CancelledOrders.CancelledOrdersHomeDelivery"
            android:label="Order Details"
            android:parentActivityName="org.nearbyshops.enduserapp.OrdersHomeDelivery.OrderHome"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserapp.OrdersHomeDelivery.OrderHome" />
        </activity>
        <activity
            android:name="org.nearbyshops.enduserapp.Settings.SettingsCustom"
            android:label="Settings"
            android:parentActivityName="org.nearbyshops.enduserapp.Home">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserapp.Home" />
        </activity>

        <!-- <activity -->
        <!-- android:name=".Services.ServicesActivity" -->
        <!-- android:label="Discover Services" -->
        <!-- android:parentActivityName=".Home" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.PARENT_ACTIVITY" -->
        <!-- android:value=".Home" /> -->
        <!-- </activity> -->

        <activity
            android:name="org.nearbyshops.enduserapp.Services.ServicesActivity"
            android:label="Discover Services"
            android:launchMode="singleTop"
            android:parentActivityName="org.nearbyshops.enduserapp.Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserapp.Home" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.nearbyshops.enduserapp.OrdersHomePickFromShop.OrdersHomePickFromShop"
            android:label="Orders : Pick From Shop"
            android:parentActivityName="org.nearbyshops.enduserapp.Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserapp.Home" />
        </activity>
        <activity
            android:name="org.nearbyshops.enduserapp.OrderDetailPFS.OrderDetailPFS"
            android:label="Order Details"
            android:parentActivityName="org.nearbyshops.enduserapp.OrdersHomePickFromShop.OrdersHomePickFromShop"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserapp.OrdersHomeDelivery.OrderHome" />
        </activity>
        <activity
            android:name="org.nearbyshops.enduserapp.OrderHistoryPFS.OrderHistoryPFS"
            android:label="Order History"
            android:launchMode="singleTop"
            android:parentActivityName="org.nearbyshops.enduserapp.OrdersHomePickFromShop.OrdersHomePickFromShop"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserapp.OrdersHomePickFromShop.OrdersHomePickFromShop" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.nearbyshops.enduserapp.OrdersCancelledPFS.CancelledOrdersPFS"
            android:label="Order History"
            android:launchMode="singleTop"
            android:parentActivityName="org.nearbyshops.enduserapp.OrdersHomePickFromShop.OrdersHomePickFromShop"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserapp.OrdersHomePickFromShop.OrdersHomePickFromShop" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.nearbyshops.enduserapp.EditProfileEndUser.EditProfileEndUser"
            android:label="Edit Profile"
            android:parentActivityName="org.nearbyshops.enduserapp.Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserapp.Home" />
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="org.nearbyshops.enduserapp.DeliveryAddress.EditAddress.EditDeliveryAddress"
            android:label="@string/title_activity_edit_delivery_address"
            android:parentActivityName="org.nearbyshops.enduserapp.Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduserapp.Home" />
        </activity>


        <!--Intent Service For Notifications to the User -->

        <service
            android:name="org.nearbyshops.enduserapp.Notifications.SSEIntentServiceUser"
            android:exported="false" />


    </application>

</manifest>