<?xml version="1.0" encoding="utf-8"?><!-- suppress AndroidDomInspection -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.nearbyshops.enduser"
    android:installLocation="auto">

    <!-- To auto-complete the email text field in the loginActivity form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".UtilityGeocoding.FetchAddressIntentService"
            android:exported="false" />

        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GeolocationTest" />

        <!-- <activity -->
        <!-- android:name=".ItemCategoryOption.FragmentItemCategories" -->
        <!-- android:label="Item Categories" -->
        <!-- android:parentActivityName=".Home" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.PARENT_ACTIVITY" -->
        <!-- android:value="org.nearbyshops.enduser.Home" /> -->
        <!-- </activity> -->

        <activity
            android:name=".LoginActivity"
            android:label="Nearby Shops : Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ItemCategoryOption.ShopItemSwipeView"
            android:label="Shops and Items"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Home" />
        </activity>
        <activity
            android:name=".ShopItemByItem.ShopsForItemSwipe"
            android:label="@string/title_activity_shops_for_item"
            android:parentActivityName=".ItemCategoryOption.ShopItemSwipeView"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduser.ItemCategoryOption.ShopItemSwipeView" />
        </activity>
        <activity
            android:name=".Carts.CartsListActivity"
            android:label="@string/title_activity_carts_list"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduser.Home" />
        </activity>
        <activity
            android:name=".Carts.CartItemListActivity"
            android:label="@string/title_activity_cart_item_list"
            android:parentActivityName=".Carts.CartsListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduser.Carts.CartsListActivity" />
        </activity>
        <activity
            android:name=".Carts.PlaceOrderActivity"
            android:label="@string/title_activity_place_order"
            android:parentActivityName=".Carts.CartItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduser.Carts.CartItemListActivity" />
        </activity>
        <activity
            android:name=".DeliveryAddress.DeliveryAddressActivity"
            android:label="@string/title_activity_delivery_address"
            android:parentActivityName=".Carts.PlaceOrderActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduser.Carts.PlaceOrderActivity" />
        </activity>
        <activity
            android:name=".DeliveryAddress.EditAddressActivity"
            android:label="@string/title_activity_edit_address"
            android:parentActivityName=".DeliveryAddress.DeliveryAddressActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduser.DeliveryAddress.DeliveryAddressActivity" />
        </activity>
        <activity
            android:name=".DeliveryAddress.AddAddressActivity"
            android:label="@string/title_activity_add_address"
            android:parentActivityName=".DeliveryAddress.DeliveryAddressActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduser.DeliveryAddress.DeliveryAddressActivity" />
        </activity>
        <activity
            android:name=".aaSamples.NavigationDrawerSample"
            android:label="@string/title_activity_navigation_drawer_sample"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduser.Home" />
        </activity>
        <activity
            android:name=".Orders.OrderHome"
            android:label="@string/title_activity_order_home"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduser.Home" />
        </activity>
        <activity
            android:name=".ShopsByCategory.ShopsByCategory"
            android:label="@string/label_shops_by_category"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduser.Home" />
        </activity>
        <activity
            android:name=".ItemsByCategory.ItemsByCategory"
            android:label="@string/label_items_by_category"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduser.Home" />
        </activity>
        <activity
            android:name=".ShopDetail.ShopDetail"
            android:label="@string/label_items_by_category"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduser.Home" />
        </activity>
        <activity
            android:name=".ItemDetail.ItemDetail"
            android:label="Item Detail"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduser.Home" />
        </activity>
        <activity
            android:name=".ShopReview.ShopReviews"
            android:label="Shop Reviews"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduser.Home" />
        </activity>
        <activity
            android:name=".ShopHome.ShopHome"
            android:label="@string/title_activity_shop_home"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduser.Home" />
        </activity>
        <activity
            android:name=".ShopItemByShop.ShopItemByShopByCategory"
            android:label="@string/title_activity_shop_home"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduser.Home" />
        </activity>
        <activity
            android:name=".Carts.OrderResultActivity"
            android:label="@string/title_activity_order_result"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DeliveryAddress.PickLocationActivity"
            android:label="Pick Location"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduser.Home" />
        </activity>

        <!-- Google Maps Key -->


        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB_BpmVLbrXdFzz1JyaYl21F2EDoU1EreM" />

        <activity
            android:name=".Shops.ShopsActivity"
            android:label="@string/title_activity_shops"
            android:launchMode="singleTop"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduser.Home" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Items.ItemsActivity"
            android:label="@string/title_activity_items"
            android:launchMode="singleTop"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduser.Home" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ItemsInShop.ItemsInShop"
            android:label="@string/title_activity_items_in_shop"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduser.Home" />
        </activity>
        <activity
            android:name=".ItemsByCategoryScreenTwo.ItemsByCatS2"
            android:label="@string/title_activity_items_by_cat_s2"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>