<?xml version="1.0" encoding="utf-8"?>
<!--suppress AndroidDomInspection -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.nearbyshops.enduser">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name=".Geocoding.FetchAddressIntentService"
            android:exported="false"/>


        <activity
            android:name=".Home"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".GeolocationTest" />
        <activity
            android:name=".ItemCategories.ItemCategories"
            android:label="Item Categories"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduser.Home" />
        </activity>
        <activity
            android:name=".Categories"
            android:label="@string/title_activity_categories"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduser.Home" />
        </activity>
        <activity
            android:name=".Login"
            android:label="Nearby Shops : Login"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShopItemsByItemCategory.ShopItemSwipeView"
            android:label="Shops and Items"
            android:parentActivityName=".ItemCategories.ItemCategories"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduser.ItemCategories.ItemCategories" />
        </activity>
        <activity
            android:name=".ShopsForItems.ShopsForItemSwipe"
            android:label="@string/title_activity_shops_for_item"
            android:parentActivityName=".ShopItemsByItemCategory.ShopItemSwipeView"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduser.ShopItemsByItemCategory.ShopItemSwipeView" />
        </activity>
        <activity
            android:name=".Carts.CartsListActivity"
            android:label="@string/title_activity_carts_list"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduser.Home" />
        </activity>
        <activity
            android:name=".Carts.CartItemListActivity"
            android:label="@string/title_activity_cart_item_list"
            android:parentActivityName=".Carts.CartsListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduser.Carts.CartsListActivity" />
        </activity>
        <activity
            android:name=".Carts.PlaceOrderActivity"
            android:label="@string/title_activity_place_order"
            android:parentActivityName=".Carts.CartItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduser.Carts.CartItemListActivity" />
        </activity>
        <activity
            android:name=".Carts.DeliveryAddressActivity"
            android:label="@string/title_activity_delivery_address"
            android:parentActivityName=".Carts.PlaceOrderActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduser.Carts.PlaceOrderActivity" />
        </activity>
        <activity
            android:name=".Carts.EditAddressActivity"
            android:label="@string/title_activity_edit_address"
            android:parentActivityName=".Carts.DeliveryAddressActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduser.Carts.DeliveryAddressActivity" />
        </activity>
        <activity
            android:name=".Carts.AddAddressActivity"
            android:label="@string/title_activity_add_address"
            android:parentActivityName=".Carts.DeliveryAddressActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduser.Carts.DeliveryAddressActivity" />
        </activity>
        <activity
            android:name=".aaSamples.NavigationDrawerSample"
            android:label="@string/title_activity_navigation_drawer_sample"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduser.Home" />
        </activity>
        <activity
            android:name=".Orders.OrderHome"
            android:label="@string/title_activity_order_home"
            android:parentActivityName=".Home"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.nearbyshops.enduser.Home" />
        </activity>
    </application>

</manifest>